.App {
	/* text-align: center; */
	font-family: "Space Mono", monospace;
	background-color: #191919;
}
* {
	box-sizing: border-box;
}
/* body {
	background: #222;
	margin: 2em 20em;
	box-sizing: border-box;
} */
.searchform {
	display: block;
	overflow: hidden;
	width: 50%;
	margin-bottom: 20px;
}
label,
input {
	vertical-align: baseline;
	color: #737373;
}
label {
	margin: 0.125em 0.125em 0 0;
	float: right;
}
input[type="search"] {
	border: 2px solid #737373;
	border-width: 0 0 3px;
	background-color: transparent;
	font: 22px "Space Mono", monospace;
	padding: 0.125em 0.225em;
	width: 85%;
	float: left;
}
input[type="search"]:focus {
	color: #e18728;
	border-color: #e18728;
	outline: none;
}
.movie-list {
	margin: 30px 150px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.movie.card {
	width: 200px;
	height: 300px;
}
.movie-card:hover {
	transition: all 0.4s ease-in-out;
	box-shadow: -1px 3px 10px 5px black;
	cursor: pointer;
}

.addbtn {
	margin-top: 20px;
	margin-left: 10px;
	font-size: large;
	width: 60px;
	height: 60px;
	position: absolute;
}

.coloredStars {
	color: red;
}
.blankStars {
	color: black;
}

.loader {
	margin: 0 auto;
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.desccard {
	display: flex;
}
